body {
    font-family: 'Roboto', sans-serif;
    background-color: #13100f;
    color: #e0e0e0;
}

/* HEADER STYLES */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    z-index: 1;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
}

.logo {
    cursor: pointer;
}

header .logo:hover {
    transition: 0.3s;
    transform: scale(0.9);
}

a {
    color: #e0e0e0;
    text-decoration: none;
}

.title {
    padding: 20px;
    text-align: center;
}

#root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    margin: auto;
}

.container {
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
max-width: 1400px;
padding-bottom: 80px;
}

.scpImagePage {
    width: 45%;
}

.readCard {
    height: fit-content;
    background-color: #241e1c; /* Dark background for contrast */
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 110px;
    max-width: 70%;
    font-size: 18px;
}

.speakBtn{
    display: flex;
    justify-content: center;
}

#speakBtn {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: none;
    color: #e0e0e0;
    border: #e0e0e0 solid 1px;
    border-radius: 4px;
    padding: 10px;
}


#speakBtn:hover {
    transition: 0.3s;
    transform: scale(1.1);
    cursor: pointer;
    color: #af3333;
}

.specs {
    display: flex;
    gap: 10px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.speak-button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: none;
    color: #e0e0e0;
    border: #e0e0e0 solid 1px;
    border-radius: 4px;
    padding: 10px;
   }

.speak-button:hover {
    transition: 0.3s;
    transform: scale(1.1);
    cursor: pointer;
    color: #af3333;
}

@media only screen and (max-width: 800px) {
    .scpImagePage {
        width: 80%;
    }
  }